<div class="container-fluid">
  <div class="container">


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>


    <div class="row justify-content-center align-items-center bg-light mt-5 col col-lg-8 mx-auto rounded-container" >
      <div class="col col-10">
        <div class="row justify-content-center align-items-center m-3">
          <div class="form-group">
            <h4 class="">Sign Up</h4>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <%= f.text_field :name, autocomplete: "name", placeholder: "Full Name", class: "form-control" %>
          </div>

          <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail", class: "form-control" %>
          </div> <!-- form-group// -->

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (#{@minimum_password_length} characters min.)", class: "form-control" %>
          </div>

          <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-control" %>
          </div> <!-- form-group// -->

          <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-home"></i> </span>
            </div>
            <%= f.text_field :street_address, autocomplete: "street_address", placeholder: "Street Address", class: "form-control" %>
          </div> <!-- form-group// -->

          <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-home"></i> </span>
            </div>
            <%= f.text_field :city, autocomplete: "city", placeholder: "City", class: "form-control" %>
          </div> <!-- form-group// -->

          <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-home"></i> </span>
            </div>
            <%= f.select :state, CS.states(:us).values, { prompt: "Choose a state" }, class: "form-control" %>
          </div> <!-- form-group end.// -->

          <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-home"></i> </span>
            </div>
            <%= f.text_field :zip_code, autocomplete: "zip_code", placeholder: "Zip Code", class: "form-control" %>
          </div> <!-- form-group// -->

          <div class="container">
          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
          </div>
          <!-- form-group// -->
          <br>

       
               
        <div class="text-center">Have an account? <%= render "devise/shared/links" %> </div>
     
      </div>
      <% end %>

  </div>
</div>
