  <div class="container">
    <div class="row justify-content-center">
      <% @equipment.each do |eq| %>
      <% if @equipment.length == 1 %>
        <div class="card h-100 w-50">
      <% else%>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="card h-100">
      <% end %>
          <% if eq.pic_url != "" || eq.pic_url != nil %>
          <img src="<%= eq.pic_url %>" class="card-img-top mx-auto">
          <% else%>
          <%= image_tag 'no-image-available.jpg', class: "card-img-top mx-auto" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title bold"><%= eq.name %></td>
            </h5>
            <p class="card-text"><%= eq.description %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Brand: <%= eq.brand %></li>
            <li class="list-group-item">Categories:
              <ul>
                <% eq.categories.each do |category| %>
                <li><%= category.title %></li>
                <% end %>
              </ul>
            </li>
          </ul>
          <div class="card-body">
            <% if !params.include?(:user_id) && !params.include?(:id) %>
            <div class="p-1"><%= link_to 'View', user_equipment_path(eq.user_id, eq.id) %></div>
            <% end %>
            <% if current_user.id == eq.user_id %>
            <div class="p-1"><%= link_to 'Edit/Delete', edit_user_equipment_path(eq.user_id, eq.id) %></div>
            <% elsif eq.available == true%>
            <div class="p-1"><%= link_to 'Borrow', user_new_borrow_path(current_user.id, eq.id) %></div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>