<div class="container">
  <div class="container">
    <div class="text-center">
      <h3><%= @user.name %>'s Tool List</h3>
    </div>
    <div class="row">
      <table class="table table-striped table-light">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <% @user.owned_equipments.each do |eq| %>
        <tr>
          <td><%= eq.name %></td>
          <td><%= eq.brand %></td>
          <td><%= eq.description %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>

  <div class="container">
    <div class="text-center">
      <h3><%= @user.name %>'s Borrowed Tool List</h3>
    </div>
    <div class="row">
      <table class="table table-striped table-light">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Description</th>
            <th scope="col">Borrow Date</th>
            <th scope="col">Return Date</th>
          </tr>
        </thead>
        <% @user.borrowed.each do |borrow| %>
        <tr>
          <td><%= borrow.equipment.name %></td>
          <td><%= borrow.equipment.brand %></td>
          <td><%= borrow.equipment.description %></td>
          <td><%= borrow.start_time %></td>
          <td><%= borrow.end_time %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>

  <div class="container">
    <div class="text-center">
      <h3><%= @user.name %>'s Lent Out Tool List</h3>
    </div>
    <div class="row">
      <table class="table table-striped table-light">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Description</th>
            <th scope="col">Borrow Date</th>
            <th scope="col">Return Date</th>
          </tr>
        </thead>

        <% @user.lent_out.each do |lent| %>
        <tr>
          <td><%= lent.equipment.name %></td>
          <td><%= lent.equipment.brand %></td>
          <td><%= lent.equipment.description %></td>
          <td><%= lent.start_time %></td>
          <td><%= lent.end_time %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>