<div class="col text-center">
<% if @pending_return_borrows.empty? && @current_borrows.empty? %>
<%= image_tag 'sorry-folks-nothing-to-see-here-move-along_large.jpg' %>
<% end %>
</div>

<% if !@pending_return_borrows.empty? %>
<div class="row ">
<h3>Returned Pending Verification</h3>
  <table class="table table-striped table-light table-responsive-sm">
    <thead class="background-base text-light text-center">
      <tr>
        <th scope="col">Tool Name</th>
        <th scope="col">Lender's Name</th>
        <th scope="col">Borrow Date</th>
        <th scope="col">Anticipated Return Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @pending_return_borrows.each do |borrow| %>
    <tr class="text-center">
      <td><%= borrow.equipment.name %></td>
      <td><%= borrow.equipment.user.name %></td>
      <td><%= borrow.date("start") %></td>
      <td><%= borrow.date("anticipated_end") %></td>
      <td>
        <div class="p-1"><%= link_to 'View/Return', edit_user_borrow_path(current_user.id, borrow.id) %></div>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>

<% if !@current_borrows.empty? %>
<div class="row ">
<h3>Currently Borrowed</h3>
  <table class="table table-striped table-light table-responsive-sm">
    <thead class="background-base text-light text-center">
      <tr>
        <th scope="col">Tool Name</th>
        <th scope="col">Lender's Name</th>
        <th scope="col">Borrow Date</th>
        <th scope="col">Anticipated Return Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @current_borrows.each do |borrow| %>
    <tr class="text-center">
      <td><%= borrow.equipment.name %></td>
      <td><%= borrow.equipment.user.name %></td>
      <td><%= borrow.date("start") %></td>
      <td><%= borrow.date("anticipated_end") %></td>
      <td>
        <div class="p-1"><%= link_to 'View/Return', edit_user_borrow_path(current_user.id, borrow.id) %></div>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>
