<div class="row ">
  <table class="table table-striped table-light table-responsive-sm">
    <thead class="background-base text-light text-center">
      <tr>
        <th scope="col">Tool Name</th>
        <th scope="col">Lender's Name</th>
        <th scope="col">Borrow Date</th>
        <th scope="col">Return Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @borrows.each do |borrow| %>
    <tr>
      <td><%= borrow.equipment.name %></td>
      <td><%= borrow.equipment.user.name %></td>
      <td><%= borrow.start_time %></td>
      <td><%= borrow.end_time %></td>
      <td>
        <div class="p-1"><%= link_to 'View/Edit', root_path %></div>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>

